@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Models
@model BugTracker.Tracking.Querying.Projects.IProjectListResult

@{
    var page = (PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="@Url.Action("Create", "Project")" class="nav-link"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
        </nav>
    </div>
}

@(Html
    .Grid("MvcGrid/_GridBootstrap4", Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id)
            .Titled("id");

        columns.Add(model => Html.ActionLink("edit", "Update", new { id = model.Id }))
            .Titled("edit");

        columns.Add(model => Html.ActionLink("permissions", "Update", new { id = model.Id, projects = true }))
            .Titled("per user permissions");

        columns.Add(model => Html.ActionLink("delete", "Delete", new { id = model.Id }))
            .Titled("delete");

        columns.Add(model => model.Name)
            .Titled("name")
            .InitialSort(GridSortOrder.Asc);

        columns.Add(model => model.Active)
            .Titled("active")
            .RenderedAs(model => model.Active == 1 ? "Y" : "N");

        columns.Add(model => model.DefaultUserName)
            .Titled("default user");

        columns.Add(model => model.AutoAssignDefaultUser)
            .Titled("auto assign default user")
            .RenderedAs(model => model.AutoAssignDefaultUser == 1 ? "Y" : "N");

        columns.Add(model => model.AutoSubscribeDefaultUser)
            .Formatted("{0:Y;N;N}")
            .Titled("auto subscribe default user");

        columns.Add(model => model.EnablePop3)
            .Titled("receive items via pop3")
            .RenderedAs(model => model.EnablePop3 == 1 ? "Y" : "N");

        columns.Add(model => model.Pop3Username)
            .Titled("pop3 username");

        columns.Add(model => model.Pop3EmailFrom)
            .Titled("from email address");

        columns.Add(model => model.Default)
            .Titled("default")
            .RenderedAs(model => model.Default == 1 ? "Y" : "N");
    })
    .Empty("No projects in the database.")
    //.UsingProcessingMode(GridProcessingMode.Manual)
    .Sortable()
    //.Pageable()
)

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.CustomFooterHtml)
}