@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Core
@using BugTracker.Web.Models
@model BugTracker.Web.Models.SortableTableModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sortable.js"></script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="@Url.Action("Create", "Organization")" class="nav-link"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
        </nav>
    </div>
}

@if (Model.DataTable.Rows.Count > 0)
{
    @Html.Partial("_SortableTable", Model)
    ;
}
else
{
    <div>No organizations in the database.</div>
}

@section BodyFooter {
    @Html.Raw(Util.Context.Application["custom_footer"])
}