/* for flags */
.wht {
    margin: auto;
    display: block;
    width: 40%;
    height: 80%;
    border: 1px solid #cccccc;
}

.red {
    margin: auto;
    display: block;
    width: 40%;
    height: 80%;
    background: red;
    border: 1px solid red;
}

.grn {
    margin: auto;
    display: block;
    width: 40%;
    height: 80%;
    background: #33ff33;
    border: 1px solid #33ff33;
}

/* for "vote" column */
/* .yesvote {padding-left:15px; border: 1px dotted green; } */
.yesvote {
    padding-right: 12px;
    background-image: url('images/vote_up.png');
    background-position: right;
    background-repeat: no-repeat;
}

.novote {
    padding-right: 12px;
}

/* for "new" column */
.new {
    margin: auto;
    display: block;
    width: 30%;
    height: 80%;
    background: orange;
}

.old {
    margin: auto;
    display: block;
    width: 30%;
    height: 80%;
    border: 1px solid #cccccc;
}

/* for "vote" column */
/* .yesvote {padding-left:15px; border: 1px dotted green; } */
.yesvote {
    padding-right: 12px;
    background-image: url('images/vote_up.png');
    background-position: right;
    background-repeat: no-repeat;
}

.novote {
    padding-right: 12px;
}
