@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.SortableTableModel

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sortable.js"></script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

<div class="main">
    @if (page.Security.User.IsAdmin || page.Security.User.CanEditSql)
    {
        <table border="0" width="80%">
            <tr>
                <td align="left" valign="top">
                    <a href="~/Queries/Edit.aspx"><img src="~/Content/images/add.png" align="top">&nbsp;add new query</a>
                </td>

                <td align="right" valign="top">
                    @{
                        var formId = Guid.NewGuid().ToString();
                    }

                    @using (Html.BeginForm("Index", "Query", FormMethod.Get, new { id = formId }))
                    {
                        var code = "document.getElementById('" + formId + "').submit();";
                        <label>show everybody's private queries:@Html.CheckBox("ShowAll", new { @class = "cb", onchange = code })</label>
                    }
                </td>
            </tr>
        </table>
    }
    else
    {
        <p></p>
    }

    @if (Model.DataSet.Tables[0].Rows.Count > 0)
    {
        @Html.Partial("_SortableTable", Model);
    }
    else
    {
        <div>No queries in the database.</div>
    }
</div>

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
