@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using System.Data
@using BugTracker.Web.Models
@model DataTable

@{
    var page = (PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="@Url.Action("Create", "CustomField")" class="nav-link"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
        </nav>
    </div>
}

@(Html
    .Grid("MvcGrid/_GridBootstrap4", Model.Rows.Cast<DataRow>())
    .Build(columns =>
    {
        columns.Add(model => model["name"] as string)
            .Named("name")
            .Titled("name")
            .Sortable(true);

        columns.Add(model => model["datatype"] as string)
            .Named("datatype")
            .Titled("datatype")
            .Sortable(true);

        columns.Add(model => model["length"] as int? ?? 0)
            .Named("length")
            .Titled("length")
            .Sortable(true);

        columns.Add(model => model["xprec"] as int? ?? 0)
            .Named("xprec")
            .Titled("xprec")
            .Sortable(true);

        columns.Add(model => model["xscale"] as int? ?? 0)
            .Named("xscale")
            .Titled("xscale")
            .Sortable(true);

        columns.Add(model => model["isnullable"] as int? ?? 0)
            .Named("isnullable")
            .Titled("isnullable")
            .Sortable(true);

        columns.Add(model => model["default value"] as string)
            .Named("default value")
            .Titled("default value")
            .Sortable(true);

        columns.Add(model => model["default name"] as string)
            .Named("default name")
            .Titled("default name")
            .Sortable(true);

        columns.Add(model => model["dropdown type"] as string)
            .Named("dropdown type")
            .Titled("dropdown type")
            .Sortable(true);

        columns.Add(model => model["vals"] as string)
            .Named("vals")
            .Titled("vals")
            .Sortable(true);

        columns.Add(model => model["column order"] as int? ?? 0)
            .Named("column order")
            .Titled("column order")
            .Sortable(true);

        columns.Add(model => Html.ActionLink("edit", "Update", new { id = model["colorder"] }))
            .Titled("edit");

        columns.Add(model => Html.ActionLink("delete", "Delete", new { id = model["colorder"] }))
            .Titled("delete");
    })
    .Empty("No custom fields.")
    //.UsingProcessingMode(GridProcessingMode.Manual)
    .Sortable()
    //.Pageable()
)

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.CustomFooterHtml)
}