@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.SortableTableModel

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sortable.js"></script>

    <script>
        function select_report(type, id) {
            opener.add_selected_report(type, id);
            window.close();
        }
    </script>
}

@section BodyHeader {
}

<div class="main">
    @if (Model.DataSet.Tables[0].Rows.Count > 0)
    {
        @Html.Partial("_SortableTable", Model);
    }
    else
    {
        <div>No reports in the database.</div>
    }
</div>

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
