@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Head {
}

@section BodyHeader {
    <table style="border-spacing: 0;">
        <tr>
            @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_logo"])
        </tr>
    </table>
}

<div style="width: 300px; margin: 0 auto;">
    @Html.Partial("_ValidationSummary")

    <div>
        <p>
            <a href="~/Account/Login">Return to login page</a>
        </p>
    </div>
</div>

@section BodyFooter {
}
