@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

<div class="p-3 mx-auto w-100 flex-grow-1" style="max-width: 360px;">
    <h1 class="h3 mb-3 font-weight-normal text-center">@Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_logo"])</h1>

    <div class="card mr-auto ml-auto">
        <div class="card-body">
            @Html.Partial("_ValidationSummary")
        </div>
    </div>

    <ul class="list-unstyled p-3">
        <li>
            <a href="@Url.Action("Login", "Account")">Return to login page</a>
        </li>
    </ul>
</div>

@section BodyFooter {
}
